In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Chennai houseing sale.csv")
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [3]:
df.drop('PRT_ID', axis=1, inplace=True)
df.drop('DATE_BUILD', axis=1, inplace=True)

In [4]:
df['N_BEDROOM'].fillna(method="pad", inplace = True)
df['N_BATHROOM'].fillna(method="pad", inplace = True)

mean=int(df['QS_OVERALL'].mean(skipna=True))
df['QS_OVERALL']=df['QS_OVERALL'].replace(np.NAN, mean)

C:\Users\USER\AppData\Local\Temp\ipykernel_17460\2281514044.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['N_BEDROOM'].fillna(method="pad", inplace = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_17460\2281514044.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['N_BEDROOM'].fillna(method="pad", inplace = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_17460\2281514044.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['N_BATHROOM'].fillna(method="pad", inplace = True)
C:\Users\USER\AppData\Local\Temp\ipykernel_17460\2281514044.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['N_BATHROOM'].fillna(method="pad", inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7109 non-null   object
 1   INT_SQFT       7109 non-null   int64
 2   DATE_SALE      7109 non-null   object
 3   DIST_MAINROAD  7109 non-null   int64
 4   N_BEDROOM      7109 non-null   float64
 5   N_BATHROOM     7109 non-null   float64
 6   N_ROOM         7109 non-null   int64
 7   SALE_COND      7109 non-null   object
 8   PARK_FACIL     7109 non-null   object
 9   BUILDTYPE      7109 non-null   object
 10  UTILITY_AVAIL  7109 non-null   object
 11  STREET         7109 non-null   object
 12  MZZONE         7109 non-null   object
 13  QS_ROOMS       7109 non-null   float64
 14  QS_BATHROOM    7109 non-null   float64
 15  QS_BEDROOM     7109 non-null   float64
 16  QS_OVERALL     7109 non-null   float64
 17  REG_FEE        7109 non-null   int64
 18  COMMIS         7109 non-null   int64
 19  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(8)
memory usage: 1.1+ MB

In [6]:
df['DATE_SALE'] = pd.to_datetime(df['DATE_SALE'],  format = '%d-%m-%Y')
df['DATE_SALE_YEAR'] = df['DATE_SALE'].dt.year
df['DATE_SALE_MONTH'] = df['DATE_SALE'].dt.month
df['DATE_SALE_DAY'] = df['DATE_SALE'].dt.day

In [7]:
df.loc[df['PARK_FACIL'].str.contains('N'), 'PARK_FACIL']='No'

In [8]:
df.drop('DATE_SALE', axis=1, inplace=True)
df.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,DATE_SALE_YEAR,DATE_SALE_MONTH,DATE_SALE_DAY
0,Karapakkam,1004,131,1.0,1.0,3,AbNormal,Yes,Commercial,AllPub,...,4.0,3.9,4.9,4.330,380000,144400,7600000,2011,5,4
1,Anna Nagar,1986,26,2.0,1.0,5,AbNormal,No,Commercial,AllPub,...,4.9,4.2,2.5,3.765,760122,304049,21717770,2006,12,19
2,Adyar,909,70,1.0,1.0,3,AbNormal,Yes,Commercial,ELO,...,4.1,3.8,2.2,3.090,421094,92114,13159200,2012,2,4
3,Velachery,1855,14,3.0,2.0,5,Family,No,Others,NoSewr,...,4.7,3.9,3.6,4.010,356321,77042,9630290,2010,3,13
4,Karapakkam,1226,84,1.0,1.0,3,AbNormal,Yes,Others,AllPub,...,3.0,2.5,4.1,3.290,237000,74063,7406250,2009,10,5

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Area_cat = df["AREA"]
Area_cat_encoded = le.fit_transform(Area_cat)
Area_cat_encoded

array([12,  4,  0, ..., 15, 12, 15])

In [10]:
print(le.classes_)

['Adyar' 'Adyr' 'Ana Nagar' 'Ann Nagar' 'Anna Nagar' 'Chormpet' 'Chrmpet'
 'Chrompet' 'Chrompt' 'KK Nagar' 'KKNagar' 'Karapakam' 'Karapakkam'
 'T Nagar' 'TNagar' 'Velachery' 'Velchery']

In [11]:
ocean=pd.get_dummies(df['UTILITY_AVAIL'])
ocean

      All Pub  AllPub    ELO  NoSeWa  NoSewr
0       False    True  False   False    False
1       False    True  False   False    False
2       False   False   True   False    False
3       False   False  False   False     True
4       False    True  False   False    False
...       ...     ...    ...     ...      ...
7104    False   False   True   False    False
7105    False   False  False    True    False
7106    False   False  False    True    False
7107    False   False   True   False    False
7108    False   False   True   False    False

[7109 rows x 5 columns]

In [12]:
PARK_FACIL=pd.get_dummies(df['PARK_FACIL'],drop_first=True)
df.drop(['PARK_FACIL'], axis=1, inplace=True)
df=pd.concat([df, PARK_FACIL], axis=1)

In [13]:
df.rename(columns={'Yes': 'PARK_FACIL'}, inplace=True)
df

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,BUILDTYPE,UTILITY_AVAIL,STREET,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,DATE_SALE_YEAR,DATE_SALE_MONTH,DATE_SALE_DAY,PARK_FACIL
0,Karapakkam,1004,131,1.0,1.0,3,AbNormal,Commercial,AllPub,Paved,...,3.9,4.9,4.330,380000,144400,7600000,2011,5,4,True
1,Anna Nagar,1986,26,2.0,1.0,5,AbNormal,Commercial,AllPub,Gravel,...,4.2,2.5,3.765,760122,304049,21717770,2006,12,19,False
2,Adyar,909,70,1.0,1.0,3,AbNormal,Commercial,ELO,Gravel,...,3.8,2.2,3.090,421094,92114,13159200,2012,2,4,True
3,Velachery,1855,14,3.0,2.0,5,Family,Others,NoSewr,Paved,...,3.9,3.6,4.010,356321,77042,9630290,2010,3,13,False
4,Karapakkam,1226,84,1.0,1.0,3,AbNormal,Others,AllPub,Gravel,...,2.5,4.1,3.290,237000,74063,7406250,2009,10,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,Karapakkam,598,51,1.0,1.0,2,AdjLand,Others,ELO,No Access,...,2.2,2.4,2.520,208767,107060,5353000,2011,1,3,False
7105,Velachery,1897,52,3.0,2.0,5,Family,Others,NoSeWa,No Access,...,4.5,3.3,3.920,346191,205551,10818480,2004,4,8,True
7106,Velachery,1614,152,2.0,1.0,4,Normal Sale,House,NoSeWa,Gravel,...,4.2,2.9,3.840,317354,167028,8351410,2006,8,25,False
7107,Karapakkam,787,40,1.0,1.0,2,Partial,Commercial,ELO,Paved,...,3.8,4.1,4.160,425350,119098,8507000,2009,8,3,True
7108,Velachery,1896,156,3.0,2.0,5,Partial,Others,ELO,Paved,...,3.5,4.3,3.640,349177,79812,9976480,2005,7,13,True

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

# Create some toy data in a Pandas dataframe
fruit_data = pd.DataFrame({
    'fruit':  ['apple','orange','pear','orange'],
    'color':  ['red','orange','green','green'],
    'weight': [5,6,3,4]
})

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [15]:
h_sale=MultiColumnLabelEncoder(columns = ['AREA', 'SALE_COND', 'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE']).fit_transform(df)
h_sale

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,BUILDTYPE,UTILITY_AVAIL,STREET,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,DATE_SALE_YEAR,DATE_SALE_MONTH,DATE_SALE_DAY,PARK_FACIL
0,12,1004,131,1.0,1.0,3,1,1,1,4,...,3.9,4.9,4.330,380000,144400,7600000,2011,5,4,True
1,4,1986,26,2.0,1.0,5,1,1,1,0,...,4.2,2.5,3.765,760122,304049,21717770,2006,12,19,False
2,0,909,70,1.0,1.0,3,1,1,2,0,...,3.8,2.2,3.090,421094,92114,13159200,2012,2,4,True
3,15,1855,14,3.0,2.0,5,4,4,4,4,...,3.9,3.6,4.010,356321,77042,9630290,2010,3,13,False
4,12,1226,84,1.0,1.0,3,1,4,1,0,...,2.5,4.1,3.290,237000,74063,7406250,2009,10,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,12,598,51,1.0,1.0,2,3,4,2,1,...,2.2,2.4,2.520,208767,107060,5353000,2011,1,3,False
7105,15,1897,52,3.0,2.0,5,4,4,3,1,...,4.5,3.3,3.920,346191,205551,10818480,2004,4,8,True
7106,15,1614,152,2.0,1.0,4,5,2,3,0,...,4.2,2.9,3.840,317354,167028,8351410,2006,8,25,False
7107,12,787,40,1.0,1.0,2,7,1,2,4,...,3.8,4.1,4.160,425350,119098,8507000,2009,8,3,True
7108,15,1896,156,3.0,2.0,5,7,4,2,4,...,3.5,4.3,3.640,349177,79812,9976480,2005,7,13,True

In [16]:
corr_matrix = h_sale.corr()
corr_matrix["SALES_PRICE"].sort_values(ascending=False)

SALES_PRICE        1.000000
REG_FEE            0.878148
COMMIS             0.626275
INT_SQFT           0.612125
N_ROOM             0.602760
MZZONE             0.427789
N_BEDROOM          0.330987
PARK_FACIL         0.146428
N_BATHROOM         0.108928
QS_ROOMS           0.021967
QS_BEDROOM         0.018804
QS_OVERALL         0.018794
DIST_MAINROAD      0.018783
DATE_SALE_DAY      0.003456
DATE_SALE_YEAR     0.000906
STREET            -0.003190
DATE_SALE_MONTH   -0.006982
QS_BATHROOM       -0.011377
UTILITY_AVAIL     -0.016020
SALE_COND         -0.030142
AREA              -0.050906
BUILDTYPE         -0.361036
Name: SALES_PRICE, dtype: float64

In [17]:
h_sale.drop(['DATE_SALE_MONTH', 'DATE_SALE_DAY','QS_ROOMS','QS_BEDROOM','QS_OVERALL','DIST_MAINROAD','UTILITY_AVAIL',
            'STREET','QS_BATHROOM','DATE_SALE_YEAR'], axis=1, inplace=True)

In [18]:
h_sale1=h_sale.copy()

In [19]:
h_sale.drop([3,500,1000,1300,1600,2000,2400,2800,3500, 4000, 4500, 5000, 5500, 6000], axis=0, inplace=True)

In [20]:
areaEn=h_sale['AREA']
areaDet=df['AREA']

buildTypeEn=h_sale['BUILDTYPE']
buildTypeDef=df['BUILDTYPE']

sale_condEn=h_sale['SALE_COND']
sale_condDet=df['SALE_COND']

mzzoneEn=h_sale['MZZONE']
mzzoneDet=df['MZZONE']

In [21]:
ar=[pd.DataFrame(areaEn), pd.DataFrame(areaDet)]
area=pd.concat(ar,axis=1)
area.columns.values[0:2]=["Index", "Area"]
area.drop_duplicates(subset='Area', inplace=True)

bt=[pd.DataFrame(buildTypeEn), pd.DataFrame(buildTypeDef)]
buildType=pd.concat(bt,axis=1)
buildType.columns.values[0:2]=["Index", "Build_type"]
buildType.drop_duplicates(subset='Build_type', inplace=True)

sc=[pd.DataFrame(sale_condEn), pd.DataFrame(sale_condDet)]
sale_cond=pd.concat(sc,axis=1)
sale_cond.columns.values[0:2]=["Index", "Sale_cond"]
sale_cond.drop_duplicates(subset='Sale_cond', inplace=True)

mz=[pd.DataFrame(mzzoneEn), pd.DataFrame(mzzoneDet)]
mzzone=pd.concat(mz,axis=1)
mzzone.columns.values[0:2]=["Index", "Mzzone"]
mzzone.drop_duplicates(subset='Mzzone', inplace=True)

In [22]:
def details(search):
    if search == 'AREA':
        return area
    
    elif search == 'BUILDTYPE':
        return buildType
    
    elif search == 'SALE_COND':
        return sale_cond
    
    elif search == 'MZZONE':
        return mzzone
        
    else:
        return 'Invalid '

In [23]:
details('SALE_COND')

      Index    Sale_cond
0       1.0     AbNormal
5       7.0      Partial
7       4.0       Family
8       3.0      AdjLand
16      5.0  Normal Sale
44      0.0    Ab Normal
1272    8.0     Partiall
3296    2.0     Adj Land
6490    6.0     PartiaLl

In [24]:
h_sale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7095 entries, 0 to 7108
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AREA         7095 non-null   int32
 1   INT_SQFT     7095 non-null   int64
 2   N_BEDROOM    7095 non-null   float64
 3   N_BATHROOM   7095 non-null   float64
 4   N_ROOM       7095 non-null   int64
 5   SALE_COND    7095 non-null   int32
 6   BUILDTYPE    7095 non-null   int32
 7   MZZONE       7095 non-null   int32
 8   REG_FEE      7095 non-null   int64
 9   COMMIS       7095 non-null   int64
 10  SALES_PRICE  7095 non-null   int64
 11  PARK_FACIL   7095 non-null   bool
dtypes: bool(1), float64(2), int32(4), int64(5)
memory usage: 819.3 KB

In [25]:
h_sale.describe()

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,BUILDTYPE,MZZONE,REG_FEE,COMMIS,SALES_PRICE
count,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7095.000000,7.095000e+03
mean,8.674560,1382.257082,1.636786,1.212967,3.688654,4.005920,2.324313,3.317548,376994.514870,141037.433968,1.089646e+07
std,4.502193,457.502140,0.803064,0.409433,1.019353,2.003864,1.235617,1.498969,143148.476714,78798.738914,3.770736e+06
min,0.000000,500.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,71177.000000,5055.000000,2.156875e+06
25%,7.000000,993.000000,1.000000,1.000000,3.000000,3.000000,1.000000,3.000000,272391.000000,84311.500000,8.270900e+06
50%,9.000000,1375.000000,1.000000,1.000000,4.000000,4.000000,2.000000,4.000000,349509.000000,127637.000000,1.033513e+07
75%,12.000000,1744.000000,2.000000,1.000000,4.000000,5.000000,4.000000,5.000000,451721.000000,184518.500000,1.299422e+07
max,16.000000,2500.000000,4.000000,2.000000,6.000000,8.000000,4.000000,5.000000,983922.000000,495405.000000,2.366734e+07

In [26]:
X=h_sale.drop(["SALES_PRICE"], axis=1)
y=h_sale["SALES_PRICE"]

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [28]:
corr_matrix = h_sale.corr()
corr_matrix["SALES_PRICE"].sort_values(ascending=False)

SALES_PRICE    1.000000
REG_FEE        0.878169
COMMIS         0.626259
INT_SQFT       0.611883
N_ROOM         0.602651
MZZONE         0.428168
N_BEDROOM      0.330810
PARK_FACIL     0.147119
N_BATHROOM     0.109076
SALE_COND     -0.030315
AREA          -0.051225
BUILDTYPE     -0.360968
Name: SALES_PRICE, dtype: float64

In [29]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [31]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor()

In [32]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(tree_reg, X_train, y_train,
 scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)

In [34]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [33]:
lin_scores = cross_val_score(lin_reg, X_train, y_train,
 scoring="neg_mean_squared_error", cv=10)

tree_scores = cross_val_score(tree_reg, X_train, y_train,
    scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-lin_scores)
display_scores(tree_rmse_scores)

Scores: [1317657.36136341 1337795.812391   1381331.85401238 1393412.81843083
 1440172.82918957 1428798.54126605 1291526.72385947 1311097.01556927
 1429035.86394145 1382790.60144061]
Mean: 1371361.942146403
Standard deviation: 51081.138797223735

In [34]:
lin_scores = cross_val_score(lin_reg, X, y,
    scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [1383995.0563982  1335020.30418478 1378803.73546697 1402522.97294849
 1364319.4170319  1398298.31733874 1427640.79475149 1312683.52441278
 1393997.91113898 1307560.95226296]
Mean: 1370484.2985935286
Standard deviation: 38036.27558127463

In [35]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor()
forest_reg.fit(X_train, y_train)

forest_scores = cross_val_score(forest_reg, X, y,
    scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

display_scores(forest_rmse_scores)

Scores: [623204.99784422 570986.24493524 612094.04131742 614042.26202538
 638425.63876055 635164.42210891 620851.86203543 571010.60882646
 606021.41492108 565073.8126709 ]
Mean: 605687.5305445599
Standard deviation: 25777.098509137504

In [36]:
import pickle
cbr_pickle = open('forest.pickle', 'wb')
pickle.dump(forest_reg, cbr_pickle)
cbr_pickle.close()

In [36]:
from sklearn.model_selection import GridSearchCV
param_grid = [
 {'n_estimators': [3, 10, 30], 'max_features': [2, 4, 6, 8]},
 {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2, 3, 4]},
 ]
forest_reg = RandomForestRegressor()
grid_search = GridSearchCV(forest_reg, param_grid, cv=5,
 scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             scoring='neg_mean_squared_error')

In [37]:
grid_search.best_estimator_

RandomForestRegressor(max_features=4, n_estimators=30)

In [38]:
forest_reg = RandomForestRegressor(max_features=4, n_estimators=30)
forest_reg.fit(X_train, y_train)

forest_scores = cross_val_score(forest_reg, X, y,
    scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

display_scores(forest_rmse_scores)

Scores: [584350.57603109 547025.81647111 580988.66626688 555678.36599439
 581657.31491442 577706.43064813 605792.53580888 547497.97616327
 571980.6072771  549065.79145051]
Mean: 570174.4081025773
Standard deviation: 18666.013499951063

In [39]:
print("Test set accuracy: {:.2f}".format(lin_reg.score(X_test, y_test)))

Test set accuracy: 0.87

In [40]:
print("Test set accuracy: {:.2f}".format(tree_reg.score(X_test, y_test)))

Test set accuracy: 0.95

In [41]:
print("Test set accuracy: {:.2f}".format(forest_reg.score(X_test, y_test)))

Test set accuracy: 0.98

In [50]:
h_sale

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,BUILDTYPE,MZZONE,REG_FEE,COMMIS,SALES_PRICE,PARK_FACIL
0,12,1004,1.0,1.0,3,1,1,0,380000,144400,7600000,1
1,4,1986,2.0,1.0,5,1,1,3,760122,304049,21717770,0
2,0,909,1.0,1.0,3,1,1,4,421094,92114,13159200,1
4,12,1226,1.0,1.0,3,1,4,1,237000,74063,7406250,1
5,7,1220,2.0,1.0,4,7,1,3,409027,198316,12394750,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7104,12,598,1.0,1.0,2,3,4,5,208767,107060,5353000,0
7105,15,1897,3.0,2.0,5,4,4,3,346191,205551,10818480,1
7106,15,1614,2.0,1.0,4,5,2,2,317354,167028,8351410,0
7107,12,787,1.0,1.0,2,7,1,4,425350,119098,8507000,1
7108,15,1896,3.0,2.0,5,7,4,2,349177,79812,9976480,1

In [73]:
h_sale1.iloc[[2400,2800,3500, 4000, 4500, 5000, 5500, 6000]]

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,BUILDTYPE,MZZONE,REG_FEE,COMMIS,SALES_PRICE,PARK_FACIL
2400,0,1159,1.0,1.0,3,5,2,4,334221,135777,10444400,1
2800,9,1368,2.0,1.0,4,3,4,5,505317,215028,10751420,1
3500,15,1894,3.0,2.0,5,4,1,0,436488,231884,13640240,1
4000,15,1574,2.0,1.0,4,4,1,5,511420,236040,13113330,0
4500,0,1230,2.0,2.0,4,7,4,2,362781,106700,10670035,1
5000,12,1345,2.0,2.0,4,5,4,4,321818,80454,8939375,1
5500,7,1000,1.0,1.0,3,7,2,4,309800,77450,9681250,1
6000,7,844,1.0,1.0,3,3,4,4,245655,76767,7676730,0

In [83]:
print("forest pre: ",forest_reg.predict([[15,1574,2.0,1.0,4,4,1,5,511420,236040,0]]))
print("Tree pre: ",tree_reg.predict([[15,1574,2.0,1.0,4,4,1,5,511420,236040,0]]))
print("lin pre: ",lin_reg.predict([[15,1574,2.0,1.0,4,4,1,5,511420,236040,0]]))

forest pre:  [13981003.66666667]
Tree pre:  [14256340.]
lin pre:  [14133767.83137397]